/*Variables*/
.sidebar {
  display: flex !important;
  flex-direction: column !important;
  height: 100%;
  background-color: black;
  width: 300px;
  justify-content: center;
  align-items: inherit; }
  .sidebar a {
    color: #8bbf44 !important; }

.sidebarGeneral {
  position: fixed;
  z-index: 100;
  width: 400px;
  background: black;
  height: 100%; }

.sectionPortfolio {
  padding: 0px;
  margin: 0px; }
  .sectionPortfolio img {
    width: 300px;
    height: 280px; }

.menuHamburguesa {
  background-color: black; }

.imagenMenuHamburguesa {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff"); }

body {
  background-color: black; }

.ubicacionPortfolio {
  padding-left: 290px; }

.titulosSecciones {
  text-align: center;
  margin: 25px;
  color: white; }

footer {
  padding-left: 290px;
  color: white; }

.contacto {
  color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  position: absolute; }

footer {
  color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  position: absolute; }

.imagenSobreMi img {
  width: 300px;
  height: 300px; }

.ubicacionInicio {
  padding-left: 250px; }

.imagenInicio img {
  border-radius: 5px; }

.colorTexto {
  color: white; }
  .colorTexto p {
    line-height: 1.8;
    text-align: justify;
    margin-top: 15px;
    margin-right: 44px;
    margin-left: 104px; }

.footerPortfolio {
  color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
  position: relative; }

.botonCv {
  display: flex;
  justify-content: flex-end; }
  .botonCv button a {
    text-decoration: none; }
